*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}/*body*/
body{
    color: #050505;
    background: #fff;
    height: 100vh;
    font-family: 'Robot';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo{
    display: flex;
    align-items: center; 
    width: auto;
    margin-left: -100px; 
    margin-top: 10px;
 
  }
  
  .logo img {
    height: 600px;
    margin-top: 380px;
    width: 200%;
    
   
  }
  /*header*/
.header {
    background-color: #ffffff;
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px 20px grey;
    z-index: 1000;
    transition: width 0.3s ease;
}
/*Navigation bar Header*/
nav ul 
{
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

}
nav li{
    display: inline-block;
    margin-right: 0;
    font-size: 20px;   
}
nav a {
    text-decoration: none;
    color: #000;
    position: relative;
}
nav a:hover{
    background-color: #FFAC3E;
    color: black;
    padding: 1px 3px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/*Carousel*/
.menu_section{
    color:#2f2e2e;
    background-color: #FFAC3E;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    margin-top: 120px;
    
}
.carousel {
    position: relative;
    background:#FFAC3E;
    margin-top: 70px;
    width: 100%;
    height: 40%;
   
}
.carousel_item{
    width: 100%;
    padding: 1em;
    display: none;
    
}

.carousel_item img {
   max-width: 60%;
   height: auto;
   margin-top: 50px;
   display: block;
   margin: 0 auto;
   
}
.carousel_item_selected{
    display: block;
}
.carousel_nav{
    width: 100%;
    padding: 50px 0;
    position: absolute;
    bottom: -300px;
    text-align: center;
    margin:auto;
}

.carousel_button{
    width: 15px;
    height:15px;
    display: inline-block;
    background: rgba(26, 24, 24, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    margin: 0;
}
.carousel_button_selected {
    background: #FFAC3E;
}

.start-order-button{
    position: absolute;
    margin-top: -50px;
    margin-bottom: 20px;
    left: 25%;
    background-color: #FFAC3E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.start-order-button:hover {
    transform: scale(1.2);
    background-color: #fff;
}
/*Container*/
.products_container {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1000px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 30px;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: auto;
}
.products_container *{
    box-sizing: border-box;
   
}
.product_section {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
}

.product_section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    position: relative;

}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}
.product h3 {
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0px;
}

.product p {
    font-size: 14px;
    
}

.order_button {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid 
}
.product .order_button:hover{
    background-color: #FFAC3E;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

/*About*/
.about{ 
    background-color: #f8f8f8;
    overflow: hidden;
}
.heading h1{
    color:#2f2e2e;
    font-size: 55px;
    text-align: center;
    margin-top: 130px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.about_content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.about_content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.about_content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;

}
.about_content button{
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.3s;

}
.about_content button:hover{
    background-color: #FFAC3E;
    transform: scale(1.1);
}
.about_image{
    flex: 1;
    width: 600px;
    margin: auto;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.see_more_btn {
    background-color: #FFAC3E;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styles */

footer {
    background-color: #2f2e2e;
    padding: 20px 0;
    text-align: center;
}

.icons-links {
    margin-bottom: 20px;
}

.social-link {
    margin: 0 10px;
}

.social-link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-link:hover img {
    transform: scale(1.2);
    background-color: #FFAC3E;
}

.bottom-links a {
    margin: 0 10px;
    color: #FFAC3E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.bottom-links a:hover {
    color: #fff;
}



























  
 
